<a href="https://colab.research.google.com/github/Tahir7044/machine-learning/blob/master/santanzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import VarianceThreshold

In [19]:
!pip uninstall kaggle

Uninstalling kaggle-1.5.6:
  Would remove:
    /usr/local/bin/kaggle
    /usr/local/lib/python3.6/dist-packages/kaggle-1.5.6.dist-info/*
    /usr/local/lib/python3.6/dist-packages/kaggle/*
Proceed (y/n)? y
  Successfully uninstalled kaggle-1.5.6

In [2]:
!kaggle -v

Kaggle API 1.5.6

In [0]:
!echo '{"username":"tahir0606","key":"4544943705a2094664a1d4e8bf2e25f7"}' > ~/.kaggle/kaggle.json

In [5]:
!kaggle competitions download -c santander-customer-transaction-prediction

Downloading santander-customer-transaction-prediction.zip to /content
100% 249M/250M [00:07<00:00, 29.5MB/s]
100% 250M/250M [00:07<00:00, 34.5MB/s]

In [13]:
!kaggle datasets download -d ioramishvili/santaner

Downloading santaner.zip to /content
 73% 9.00M/12.3M [00:01<00:00, 7.78MB/s]
100% 12.3M/12.3M [00:01<00:00, 10.3MB/s]

In [0]:
!unzip /content/santander-customer-transaction-prediction.zip

In [0]:
!unzip /content/santaner.zip

In [0]:
data_set=pd.read_csv("/content/santanzer_dataset/santanzer_train.csv")

In [20]:
data_set.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [21]:
print(data_set.shape)

(76020, 371)